/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


:root {
    --bg: #1F1D2B;
    --main-white: #ffffff;
    --main-black: #000000;
    --main-border: #FC2CFF;
    --main-hover: #26B2FA;
    --link-border: #B636FB;
    --main-button-color: #4646F5;
    --grey: #8d8d8d;
    --nav-height: 120px;
    --default-font: "Outfit", "Trebuchet MS", cursive, sans-serif;
    --gradient-bg: linear-gradient(90deg, #B636FB 25%, #ffffff 100%);
}



html {
    margin: 0;
    padding: 0;
    font-family: var(--default-font);
    background-color: var(--bg);
    color: white;
}

body {
    margin: 0;
    padding: 0;
}

/* Scrollbar */
::-webkit-scrollbar {
    /* Scrollbars */
    width: 14px;
    height: 14px;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    /* Barre */
    border: solid 0 transparent;
    border-right-width: 4px;
    -webkit-border-radius: 5px;
    -webkit-border-top-right-radius: 9px 5px;
    -webkit-border-bottom-right-radius: 9px 5px;
    -webkit-box-shadow: inset 0 0 0 1px #8d87f8, inset 0 0 0 6px #8680eb;
}

::-webkit-scrollbar-corner {
    /* Coin de la fenêtre */
    background: transparent;
}

::-webkit-scrollbar-thumb:hover {
    /* Barre quand survolée */
    -webkit-transition: all 0.2s ease-out 0s;
    -moz-transition: all 0.2s ease-out 0s;
    transition: all 0.2s ease-out 0s;
    -webkit-box-shadow: inset 0 0 0 1px #8d87f8,
                        inset 0 0 0 6px #8680eb;
}

::-webkit-scrollbar-thumb:horizontal {
    /* Barre du bas */
    border-right-width: 0;
    border-bottom-width: 4px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px 9px;
    -webkit-border-bottom-left-radius: 5px 9px;
}



/* Main elements */
.main-button,
.secondary-button {
    transition: all 0.25s ease;
    padding: 13px 23px;
    border-radius: 25px;
    color: white;
    font-size: 25px;
    cursor: pointer;
    text-decoration: none;
    margin-left: 15px;
}

.main-button {
    background-color: var(--main-button-color);
    border-color: none;
    border: 2px solid var(--main-button-color);
}

.main-button:hover {
    background-color: var(--main-hover);
    border: 2px solid var(--main-hover);
}

.secondary-button {
    background-color: transparent;
    border: 2px solid var(--main-border);
}

.secondary-button:hover {
    border-color: var(--main-hover);
}

.main-link {
    color: white;
    text-decoration: none;
    font-size: 25px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s ease;
    background-image: none;
    border-bottom: 2px solid transparent;
}

.main-link:hover,
.main-link.active {
    background-image: var(--gradient-bg);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-bottom: 0px;
    border-bottom: 2px solid var(--link-border);
    transition: all 0.2s ease;
}

sup.little {
    font-size: 15px;
    vertical-align: super;
}

.grey {
    color: var(--grey);
}

.help {
    color: var(--grey);
    font-size: 12px;
    font-weight: 500;
    margin-top: 20px;
    font-family: var(--default-font);
    margin-left: 10%;
}

.table-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.link {
    color: white;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: all 0.2s ease;
}

.link:hover {
    border-bottom: 2px solid var(--link-border);
    background-image: var(--gradient-bg);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
}

/* Tables */
table {
    color: white;
    font-family: var(--default-font);
}

table, th, tr, td {
    border-collapse: collapse;
}

table th {
    font-size: 25px;
    font-weight: 500;
    padding: 20px 0;
}

table th span {
    background: var(--main-button-color);
    margin: 10px;
    width: 160px;
    height: 60px;
    border-radius: 18px;
    display: inline-grid;
    align-items: center;
    justify-content: center;
}

table th td,
table tr td {
    padding: 15px 40px;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

table tr td.annotation {
    font-weight: 900;
    color: #FC2CFF;
    font-family: cursive;
}

table tr {
    border-bottom: 2px solid var(--main-button-color);
}

table .part-title {
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 20px;
    color: white;
    text-align: center;
    padding-top: 50px;
}

table .best {
    background-image: linear-gradient(90deg, #fb36ce 25%, #ff0000 100%)
}

table .best .oriented-text {
    transform: rotateZ(30deg) translate(35px, -45px);
    background: #ff00009e;
    font-size: 15px;
    position: absolute;
    backdrop-filter: blur(15px);
    margin: 0;
    height: 40px;
    width: 140px;
}

table .best-bg {
    background-color: #49418a;
}

table td:nth-child(2):not(.best-bg),
table td:nth-child(4):not(.best-bg),
table td:nth-child(6):not(.best-bg),
table td:nth-child(8):not(.best-bg) {
    background-color: #252333;
}



/* Nav */
#nav {
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    width: -webkit-fill-available;
    font-family: var(--default-font);
    position: fixed;
    background-color: #1f1d2ba6;
    backdrop-filter: blur(8px);
    height: var(--nav-height);
}

#nav .main-links {
    display: flex;
    align-items: center;
    position: absolute;
    left: 50%;
    right: 50%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.main-links > .main-link {
    margin-right: 10px;
}

#nav .main-links .nav-link {
    margin: 0 10px;
    font-size: 25px;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
    color: white;
    height: 50px;
    display: flex;
    align-items: center;
}

#nav .user-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
}

#nav .user-links .nav-link {
    width: 160px;
    padding: 13px 25px;
    border-radius: 20px;
    border: 1px solid white;
    color: white;
    margin: 0 5px;
    font-size: 18px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
    text-decoration: none;
}

#nav .user-links .nav-link.with-bg {
    background: white;
    color: #682d83;
    font-weight: 500;
    transition: 0.3s;
}


#page-content {
    padding-top: calc(var(--nav-height) + 20px);
}

/* Nav logo */
#nav .nav-logocontainer {
    display: flex;
    align-items: center;
    margin-left: 40px;
    cursor: pointer;
    font-family: "Poppins", var(--default-font);
}

#nav .nav-logocontainer #exaloadlogo {
    width: 100px;
    height: 100px;
}

#nav .nav-logocontainer .nav-logo-text {
    margin-left: 10px;
    height: 100%;
    background: linear-gradient(90deg, #FC2CFF 0%, #4646F5 50%, #25B7FB 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
}

















.no-bg {
    background: none;
}

.no-line {
    text-decoration: none;
}

.no-border,
.no-border-hover {
    border: none;
}

#notifications {
    position: absolute;
    top: calc(var(--nav-height) + 40px);
    right: 10px;
    display: flex;
    flex-direction: column;
}

.notification {
    width: 300px;
    border-radius: 10px;
    background-color: #ffffff;
    color: black;
    font-size: 15px;
    font-weight: 500;
    font-family: var(--default-font);
    padding: 20px;
    transition: all 0.4s ease;
    cursor: pointer;
    margin-bottom: 15px;
}

.notification:hover {
    background-color: #c7c5c5;
}

.notification.is-danger {
    background-color: #ff0000;
}

.notification.is-danger:hover {
    background-color: #ff6767;
}

.notification.is-warning {
    background-color: #f8f53d;
}

.notification.is-warning:hover {
    background-color: #fffd8a;
}

.notification.is-ok {
    background-color: #1bb148;
}

.notification.is-ok:hover {
    background-color: #65df89;
}

.notification.is-message {
    background-color: #df3eff;
}

.notification.is-message:hover {
    background-color: #e76dff;
}