<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Error 404: Page not found | Exaload</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/404.css') }}" />
</head>
<body>
    <div class="noise"></div>
    <div class="overlay"></div>
    <div class="terminal">
        <h1>Error <span class="errorcode">404</span></h1>
        <p class="output">
            You are entering a really long and dark tunnel...
        </p>
        <p class="output">
            The page you are looking for might have been removed, had its name
            changed or is temporarily unavailable.
        </p>
        <p class="output">
            Try to <a href="{{ last_page }}">go back</a> or
            <a href="/">return to the homepage</a>.
        </p>
        <p class="output">Good luck.</p>
        <!--<p class="output">Loading games...</p>-->
        <p class="copyright">
            &copy; <a href="https://codepen.io/neilcarpenter/pen/DJopeR" target="_blank">Neil Carpenter</a> and <a href="https://codepen.io/robinselmer/pen/vJjbOZ" target="_blank">Robin Selmer</a>
        </p>
    </div>
    <script src="{{ url_for('static', filename='js/404.js') }}"></script>
    <canvas id="canvas"></canvas>
</body>
</html>
