<!DOCTYPE html>
<html lang="fr" class="reset full-h">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="static/assets/logo.png" />
    <title>{{ title }} | Exaload</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
    {% block head %}
    {% endblock %}
</head>

<body class="full-h">
    <main class="full-h">
        <header class="topbar">
            <nav>
                <ul class="top-bar-first">
                    <li class="with-sub">
                        <a href="#">Accueil</a>
                        <div class="dropdown-content">
                            <ul>
                                <li><a href="#">Mon compte</a></li>
                                <li><a href="#">Bibliothèque</a></li>
                                <li><a href="#">Contact</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="with-sub">
                        <a href="#">Politique</a>
                        <div class="dropdown-content">
                            <ul>
                                <li><a href="#">Conditions d'utilisation</a></li>
                                <li><a href="#">Mentions légales</a></li>
                                <li><a href="#">Plan du site</a></li>
                                <li><a href="#">Conditions d'achat</a></li>
                                <li><a href="#">Conditions de vente</a></li>
                                <li><a href="#">Autres</a></li>
                            </ul>
                        </div>
                    </li>
                    {% block topbar %}
                        <li class="with-sub">
                            <a href="#">Jeux</a>
                            <div class="dropdown-content">
                                <ul>
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Aventure</a></li>
                                    <li><a href="#">RPG</a></li>
                                    <li><a href="#">FPS</a></li>
                                    <li><a href="#">Simulation</a></li>
                                    <li><a href="#">Sport</a></li>
                                    <li><a href="#">Course</a></li>
                                    <li><a href="#">Combat</a></li>
                                    <li><a href="#">Plateforme</a></li>
                                    <li><a href="#">Stratégie</a></li>
                                    <li><a href="#">Gestion</a></li>
                                    <li><a href="#">Survie</a></li>
                                    <li><a href="#">Horreur</a></li>
                                    <li><a href="#">Musique</a></li>
                                    <li><a href="#">Party Game</a></li>
                                    <li><a href="#">Puzzle</a></li>
                                    <li><a href="#">Visual Novel</a></li>
                                    <li><a href="#">MMO</a></li>
                                    <li><a href="#">Autres</a></li>
                                </ul>
                            </div>
                        </li>
                        <li><a href="#">Films et séries</a></li>
                        <li><a href="#">Musique</a></li>
                        <li><a href="#">Applications</a></li>
                    {% endblock %}
                </ul>
            </nav>
        </header>

        <div id="profil">
            <img src="/static/assets/robot_profile.png" alt="profile picture">
        </div>

        <div id="profil-preview" class="">
            <canvas id="orbCanvas"></canvas>
            <div id="profil-top-info">
                <div id="profil-info">
                    <h2>Un Thomas Sauvage !!</h2>
                    <h3>@awildthomas</h3>
                    <p>Compte créé le xx/xx/xxxx</p>
                </div>
                <div id="profil-picture">
                    <img src="/static/assets/robot_profile.png" alt="profile picture">
                </div>
            </div>
            <div id="profil-bottom-info">
                <div class="stat-item">
                    <p class="percent">152<span>.324</span><sup>EX</sup></p>
                    <p>actuellement</p>
                </div>
            </div>
        </div>

        <section class="subsidebar">
            <ul>
                {% block subsidebar %}
                    <li><a href="#"><p>Accueil</p></a></li>
                    <li><a href="#"><p>Tendance</p></a></li>
                    <li><a href="#"><p>Tendance</p></a></li>
                    <li><a href="#"><p>Tendance</p></a></li>
                    <li><a href="#"><p>Tendance</p></a></li>
                    <li><a href="#"><p>Tendance</p></a></li>
                    <li><a href="#"><p>Tendance</p></a></li>
                {% endblock %}
            </ul>
        </section>

        <section class="sidebar">
            <ul class="sidebar-icons">
                {% block sidebar %}
                <li class="icon"><a href="#"><img src="/static/assets/logo.png" alt="Genres"></a></li>
                <li class="icon"><a href="#"><img src="/static/assets/logo.png" alt="Tendance"></a></li>
                <li class="icon"><a href="#"><img src="/static/assets/logo.png" alt="Nouveautés"></a></li>
                <li class="icon"><a href="#"><img src="/static/assets/logo.png" alt="Nouveautés"></a></li>
                <li class="icon"><a href="#"><img src="/static/assets/logo.png" alt="Nouveautés"></a></li>
                <li class="icon"><a href="#"><img src="/static/assets/logo.png" alt="Nouveautés"></a></li>
                <li class="icon"><a href="#"><img src="/static/assets/logo.png" alt="Nouveautés"></a></li>
                {% endblock %}
            </ul>
        </section>

        <section class="content">
        {% block content %}
        {% endblock %}
        </section>
    </main>

    {% block footer %}
    {% endblock %}
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script src="{{ url_for('static', filename='orbs.js') }}"></script>
    {% block scripts %}
    {% endblock %}
</body>
</html>
