{% extends "connected/base.html" %}

{% block title %} Accueil {% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/connected/index.css') }}">
{% endblock %}

{% block scripts %}
<script src="https://kit.fontawesome.com/1ee8f271b9.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/classnames/2.3.1/index.min.js"></script>
{% endblock %}

{% block content %}
<div id="app" class="logged-in">
    <div id="app-menu">
        <div id="app-menu-content-wrapper">
            <div id="app-menu-content">
                <div id="app-menu-content-header">
                    <div class="app-menu-content-header-section">
                        <div id="app-menu-info" class="info">
                            <span class="time">10:00</span>
                            <span class="weather">
                                <span class="weather-temperature-value">34.442</span>
                                <span class="weather-temperature-unit">EX</span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="scrollable-component" id="quick-nav">
                    <div class="quick-nav-item clear-button">
                    <span class="quick-nav-item-label">Weather</span>
                    </div>
                    <div class="quick-nav-item clear-button">
                    <span class="quick-nav-item-label">Food</span>
                    </div>
                    <div class="quick-nav-item clear-button">
                    <span class="quick-nav-item-label">Apps</span>
                    </div>
                    <div class="quick-nav-item clear-button">
                    <span class="quick-nav-item-label">Movies</span>
                    </div>
                </div>
                <!--<a
                    id="youtube-link"
                    class="clear-button"
                    href="https://www.youtube.com/c/Hyperplexed"
                    target="_blank"
                    ><i class="fa-brands fa-youtube"></i><span>Hyperplexed</span></a
                >-->
                <!--<div id="weather-section" class="menu-section">
                    <div class="menu-section-title">
                    <i class="fa-solid fa-sun"></i
                    ><span class="menu-section-title-text">Prochaines sorties</span>
                    </div>
                    <div class="scrollable-component menu-section-content">
                    <div class="day-card">
                        <div class="day-card-content">
                        <span class="day-weather-temperature"
                            >68<span class="day-weather-temperature-unit">°F</span></span
                        ><i class="day-weather-icon fa-duotone fa-sun sunny"></i
                        ><span class="day-name">Mon</span>
                        </div>
                    </div>
                    <div class="day-card">
                        <div class="day-card-content">
                        <span class="day-weather-temperature"
                            >62<span class="day-weather-temperature-unit">°F</span></span
                        ><i class="day-weather-icon fa-duotone fa-sun sunny"></i
                        ><span class="day-name">Tues</span>
                        </div>
                    </div>
                    <div class="day-card">
                        <div class="day-card-content">
                        <span class="day-weather-temperature"
                            >77<span class="day-weather-temperature-unit">°F</span></span
                        ><i class="day-weather-icon fa-duotone fa-clouds cloudy"></i
                        ><span class="day-name">Wed</span>
                        </div>
                    </div>
                    <div class="day-card">
                        <div class="day-card-content">
                        <span class="day-weather-temperature"
                            >60<span class="day-weather-temperature-unit">°F</span></span
                        ><i class="day-weather-icon fa-duotone fa-cloud-drizzle rainy"></i
                        ><span class="day-name">Thurs</span>
                        </div>
                    </div>
                    <div class="day-card">
                        <div class="day-card-content">
                        <span class="day-weather-temperature"
                            >74<span class="day-weather-temperature-unit">°F</span></span
                        ><i class="day-weather-icon fa-duotone fa-cloud-bolt stormy"></i
                        ><span class="day-name">Fri</span>
                        </div>
                    </div>
                    <div class="day-card">
                        <div class="day-card-content">
                        <span class="day-weather-temperature"
                            >62<span class="day-weather-temperature-unit">°F</span></span
                        ><i class="day-weather-icon fa-duotone fa-sun sunny"></i
                        ><span class="day-name">Sat</span>
                        </div>
                    </div>
                    <div class="day-card">
                        <div class="day-card-content">
                        <span class="day-weather-temperature"
                            >73<span class="day-weather-temperature-unit">°F</span></span
                        ><i class="day-weather-icon fa-duotone fa-clouds cloudy"></i
                        ><span class="day-name">Sun</span>
                        </div>
                    </div>
                    </div>
                </div>-->


                <div id="larges-section" class="menu-section larges-section">
                    <div class="menu-section-title">
                        <i class="fa-regular fa-pot-food"></i>
                        <span class="menu-section-title-text">Reprendre là où vous en entier</span>
                    </div>
                    <div class="menu-section-content">
                        <div class="large-card background-image" style="background-image: url('/static/assets/img/ant-man-3.jpeg');">
                            <div class="large-card-content">
                                <div class="large-card-content-items">
                                    <span class="large-card-title">Ant Man 3</span>
                                    <span class="large-card-desc">35min avant la fin</span>
                                </div>
                            </div>
                        </div>
                        <div class="large-card background-image" style="background-image: url('/static/assets/img/the-last-of-us.jpeg');">
                            <div class="large-card-content">
                                <div class="large-card-content-items">
                                    <span class="large-card-title">The Last of Us</span>
                                    <span class="large-card-desc">S1 E2 - 12min avant la fin</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div id="movies-section" class="menu-section">
                    <div class="menu-section-title">
                        <i class="fa-solid fa-camera-movie"></i>
                        <span class="menu-section-title-text">Les prochaines sorties de films sur Exaload</span>
                    </div>
                    <div class="scrollable-component menu-section-content">
                        <div id="movie-card-1" class="movie-card">
                            <div class="movie-card-background background-image" style="background-image: url('/static/assets/img/interstellar.webp');"></div>
                            <div class="movie-card-content">
                                <div class="movie-card-info">
                                    <span class="movie-card-title">Interstellar</span>
                                    <span class="movie-card-desc">Arrive sur Exaload le 01/07/2024</span>
                                </div>
                                <i class="fa-solid fa-galaxy"></i>
                            </div>
                        </div>
                        <div id="movie-card-2" class="movie-card">
                            <div class="movie-card-background background-image" style="background-image: url('/static/assets/img/the-revenant.jpg');"></div>
                            <div class="movie-card-content">
                                <div class="movie-card-info">
                                    <span class="movie-card-title">The Revenant</span>
                                    <span class="movie-card-desc">Arrive sur Exaload le 24/05/2024</span>
                                </div>
                                <i class="fa-solid fa-biohazard"></i>
                            </div>
                        </div>
                        <div id="movie-card-3" class="movie-card">
                            <div class="movie-card-background background-image" style="background-image: url('/static/assets/img/dunkerque.jpeg');"></div>
                            <div class="movie-card-content">
                                <div class="movie-card-info">
                                    <span class="movie-card-title">Dunkerque</span>
                                    <span class="movie-card-desc">Arrive sur Exaload le 12/08/2024.</span>
                                </div>
                                <i class="fa-solid fa-person-rifle"></i>
                            </div>
                        </div>
                        <div id="movie-card-4" class="movie-card">
                            <div class="movie-card-background background-image" style="background-image: url('/static/assets/img/prison-break.jpeg');"></div>
                            <div class="movie-card-content">
                                <div class="movie-card-info">
                                    <span class="movie-card-title">Prison Break</span>
                                    <span class="movie-card-desc">Saison 3 le 27/05/2024</span>
                                </div>
                                <i class="fa-solid fa-handcuffs"></i>
                            </div>
                        </div>
                    </div>
                </div>



                <div id="tools-section" class="menu-section">
                    <div class="menu-section-title">
                        <i class="fa-solid fa-toolbox"></i>
                        <span class="menu-section-title-text">What's Appening?</span>
                    </div>
                    <div class="menu-section-content">
                        <div class="tool-card">
                            <div
                            class="tool-card-background background-image"
                            style="
                                background-image: url('https://images.unsplash.com/photo-1492011221367-f47e3ccd77a0?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTV8fHdlYXRoZXJ8ZW58MHx8MHx8&amp;auto=format&amp;fit=crop&amp;w=500&amp;q=60');
                            "
                            ></div>
                            <div class="tool-card-content">
                            <div class="tool-card-content-header">
                                <span class="tool-card-label">Weather</span
                                ><span class="tool-card-name">Cloudly</span>
                            </div>
                            <i class="fa-solid fa-cloud-sun tool-card-icon"></i>
                            </div>
                        </div>
                        <div class="tool-card">
                            <div
                            class="tool-card-background background-image"
                            style="
                                background-image: url('https://images.unsplash.com/photo-1587145820266-a5951ee6f620?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8Y2FsY3VsYXRvcnxlbnwwfHwwfHw%3D&amp;auto=format&amp;fit=crop&amp;w=500&amp;q=60');
                            "
                            ></div>
                            <div class="tool-card-content">
                            <div class="tool-card-content-header">
                                <span class="tool-card-label">Calc</span
                                ><span class="tool-card-name">Mathio</span>
                            </div>
                            <i class="fa-solid fa-calculator-simple tool-card-icon"></i>
                            </div>
                        </div>
                        <div class="tool-card">
                            <div
                            class="tool-card-background background-image"
                            style="
                                background-image: url('https://images.unsplash.com/photo-1579621970588-a35d0e7ab9b6?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8YmFua3xlbnwwfHwwfHw%3D&amp;auto=format&amp;fit=crop&amp;w=500&amp;q=60');
                            "
                            ></div>
                            <div class="tool-card-content">
                            <div class="tool-card-content-header">
                                <span class="tool-card-label">Bank</span
                                ><span class="tool-card-name">Cashy</span>
                            </div>
                            <i class="fa-solid fa-piggy-bank tool-card-icon"></i>
                            </div>
                        </div>
                        <div class="tool-card">
                            <div
                            class="tool-card-background background-image"
                            style="
                                background-image: url('https://images.unsplash.com/photo-1436491865332-7a61a109cc05?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8YWlycGxhbmV8ZW58MHx8MHx8&amp;auto=format&amp;fit=crop&amp;w=500&amp;q=60');
                            "
                            ></div>
                            <div class="tool-card-content">
                            <div class="tool-card-content-header">
                                <span class="tool-card-label">Travel</span
                                ><span class="tool-card-name">Fly</span>
                            </div>
                            <i class="fa-solid fa-plane tool-card-icon"></i>
                            </div>
                        </div>
                        <div class="tool-card">
                            <div
                            class="tool-card-background background-image"
                            style="
                                background-image: url('https://images.unsplash.com/photo-1612287230202-1ff1d85d1bdf?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8dmlkZW8lMjBnYW1lc3xlbnwwfHwwfHw%3D&amp;auto=format&amp;fit=crop&amp;w=500&amp;q=60');
                            "
                            ></div>
                            <div class="tool-card-content">
                            <div class="tool-card-content-header">
                                <span class="tool-card-label">Games</span
                                ><span class="tool-card-name">Gamey</span>
                            </div>
                            <i class="fa-solid fa-gamepad-modern tool-card-icon"></i>
                            </div>
                        </div>
                        <div class="tool-card">
                            <div
                            class="tool-card-background background-image"
                            style="
                                background-image: url('https://images.unsplash.com/photo-1578022761797-b8636ac1773c?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fHZpZGVvJTIwY2hhdHxlbnwwfHwwfHw%3D&amp;auto=format&amp;fit=crop&amp;w=500&amp;q=60');
                            "
                            ></div>
                            <div class="tool-card-content">
                            <div class="tool-card-content-header">
                                <span class="tool-card-label">Video Chat</span
                                ><span class="tool-card-name">Chatty</span>
                            </div>
                            <i class="fa-solid fa-video tool-card-icon"></i>
                            </div>
                        </div>
                    </div>
                </div>


                
                
            </div>
        </div>
    </div>
</div>
{% endblock %}
