{% extends "connected/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/static/css/connected/movie-info.css" />
{% endblock %}

{% block sidebar %}
    <li class="icon"><a href="#"><img src="/static/assets/logo.png" alt="Genres"></a></li>
    <li class="icon"><a href="#"><img src="/static/assets/logo.png" alt="Tendance"></a></li>
    <li class="icon"><a href="#"><img src="/static/assets/logo.png" alt="Nouveautés"></a></li>
    <li class="icon"><a href="#"><img src="/static/assets/logo.png" alt="Nouveautés"></a></li>
    <li class="icon"><a href="#"><img src="/static/assets/logo.png" alt="Nouveautés"></a></li>
    <li class="icon"><a href="#"><img src="/static/assets/logo.png" alt="Nouveautés"></a></li>
    <li class="icon"><a href="#"><img src="/static/assets/logo.png" alt="Nouveautés"></a></li>
{% endblock %}



{% block content %}
	<div id="left-side">
		<h1>The Last of Us</h1>
		<p>ZIOZHGMOTIHZRL IEmoirejz tmpqerijm otzisejrmosytijeriegjerit mqzoijtmeo irtj mr eo mhpdoortd miqre spt oure myi urj tori gitrjhgjesb dr nmthn isyjdmr eijroyijrmsodjmroihjgdrmotiyhjrtoyhjrsij tiry jsoiyjmtorih meosi jrtomi yoisy oithjdofkhjdlfkxn gsrmeo i
	</div>
	<div id="right-side">
		<img src="/static/assets/img/the-last-of-us-high.jpg" />
{% endblock %}


{% block footer %}
    <footer>
        <ul>
            <li><a href="#">Conditions d'utilisation</a></li>
            <li><a href="#">Politique de confidentialité</a></li>
            <li><a href="#">Aide</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </footer>
{% endblock %}
