{% extends "connected/base.html" %}

{% block head %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/connected/movies.base.css" />
    <link rel="stylesheet" href="/static/css/connected/movie-info.css" />
{% endblock %}

{% block sidebar %}
    <li class="icon"><a href="#"><img src="/static/assets/logo.png" alt="Genres"></a></li>
    <li class="icon"><a href="#"><img src="/static/assets/logo.png" alt="Tendance"></a></li>
    <li class="icon"><a href="#"><img src="/static/assets/logo.png" alt="Nouveautés"></a></li>
    <li class="icon"><a href="#"><img src="/static/assets/logo.png" alt="Nouveautés"></a></li>
    <li class="icon"><a href="#"><img src="/static/assets/logo.png" alt="Nouveautés"></a></li>
    <li class="icon"><a href="#"><img src="/static/assets/logo.png" alt="Nouveautés"></a></li>
    <li class="icon"><a href="#"><img src="/static/assets/logo.png" alt="Nouveautés"></a></li>
{% endblock %}



{% block content %}
<section class="hero"> <!-- style="background: url(/static/assets/images/taken-3-movie-banner-8k-ob-2880x1800.jpg) no-repeat top center / cover;" -->
    <div class="video-container" onclick=ShowingOrUnshowing()>
        <video id="video">
            <source src="/static/assets/videos/Taken 3 bande annonce.mp4" type="video/mp4" />
            Your browser does not support the video tag. Change your browser !
        </video>
        <div class="playButton" id="playButton">
            <ion-icon name="play"></ion-icon>
        </div>
    </div>

    <div class="container fade-in-out">
        <div class="hero-content">
            <h1 class="h1 hero-title">Taken <strong>3</strong></h1>

            <div class="meta-wrapper">
                <div class="badge-wrapper">
                    <div class="badge badge-fill">PG 18</div>

                    <div class="badge badge-outline">HD</div>
                </div>

                <div class="ganre-wrapper">
                    <a href="#">Romance</a>
                    <a href="#">Drama</a>
                </div>

                <div class="date-time">
                    <div>
                        <ion-icon name="calendar-outline"></ion-icon>
                        <time datetime="2024">2024</time>
                    </div>

                    <div>
                        <ion-icon name="time-outline"></ion-icon>

                        <time datetime="PT128M">128 min</time>
                    </div>
                </div>
            </div>

            <p class="service-text">
                Accused of a ruthless murder he never committed or witnessed, Bryan Mills goes on the run and brings out his particular set of skills to find the true killer and clear his name.
            </p>

            <button class="btn btn-primary" onclick="window.location.href='/movies/000'">
                <ion-icon name="play"></ion-icon>
                <span>Regarder maintenant</span>
            </button>
        </div>
    </div>
</section>
<section class="movie-infos-section">
    <div class="movie-infos-div">
        <!-- <video controls>
            <source src="/static/assets/videos/Taken 3 bande annonce.mp4" type="video/mp4" />
            Your browser does not support the video tag. Change your browser !
        </video> -->
        <div class="movie-infos">
            <div class="movie-plot">
                <div class="synopsis">
                    L’ex-agent spécial Bryan Mills voit son retour à une vie tranquille bouleversé lorsqu’il est
                    accusé à tort du meurtre de son ex-femme, chez lui, à Los Angeles. En fuite et traqué par
                    l’inspecteur Dotzler, Mills va devoir employer ses compétences particulières une dernière
                    fois pour trouver le véritable coupable, prouver son innocence et protéger la seule personne
                    qui compte désormais pour lui – sa fille.
                </div>
                <div class="distribution">
                    <div class="distributors">
                        <div class="item">
                            <h3>Distributeurs</h3>
                            <ul>
                                <li>20th Century Fox</li>
                                <li>EuropaCorp</li>
                            </ul>
                        </div>
                        <div class="item">
                            <h3>Production</h3>
                            <ul>
                                <li>EuropaCorp</li>
                                <li>M6 Films</li>
                                <li>Canal+</li>
                                <li>Ciné+</li>
                                <li>Grive Productions</li>
                                <li>Canal+ España</li>
                                <li>Canal+ Polska</li>
                                <li>Canal+ France</li>
                                <li>Canal+ Russia</li>
                                <li>Ciné+</li>
                                <li>EuropaCorp</li>
                                <li>Grive Productions</li>
                                <li>M6 Films</li>
                            </ul>
                        </div>
                    </div>
                    <div class="actors">
                        <h3>Acteurs principaux</h3>
                        <div class="actors-profiles">
                            <div class="actor-profil">
                                <img src="/static/assets/images/actors/1.jpg" />
                                <p>Liam Neeson</p>
                            </div>
                            <div class="actor-profil">
                                <img src="/static/assets/images/actors/2.jpg" />
                                <p>Forest Whitaker</p>
                            </div>
                            <div class="actor-profil">
                                <img src="/static/assets/images/actors/3.jpg" />
                                <p>Maggie Grace</p>
                            </div>
                            <div class="actor-profil">
                                <img src="/static/assets/images/actors/7.jpg" />
                                <p>Leland Orser</p>
                            </div>
                            <div class="actor-profil">
                                <img src="/static/assets/images/actors/8.jpg" />
                                <p>Jon Gries</p>
                            </div>
                            <div class="actor-profil">
                                <img src="/static/assets/images/actors/9.jpg" />
                                <p>David Warshofsky</p>
                            </div>
                            <div class="actor-profil">
                                <img src="/static/assets/images/actors/10.jpg" />
                                <p>Don Harvey</p>
                            </div>
                            <div class="actor-profil">
                                <img src="/static/assets/images/actors/4.jpg" />
                                <p>Famke Janssen</p>
                            </div>
                            <div class="actor-profil">
                                <img src="/static/assets/images/actors/5.jpg" />
                                <p>Dougray Scott</p>
                            </div>
                            <div class="actor-profil">
                                <img src="/static/assets/images/actors/6.jpg" />
                                <p>Sam Spruell</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="affiche">
                <img src="/static/assets/images/taken-3-affiche.jpg">
                <div class="movie-infos-mains">
                    <p>Sorti le <strong>21 janvier 2034</strong></p>
                    <p>Réalisé par <strong>Olivier Megaton</strong></p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}


{% block footer %}
    <footer>
        <ul>
            <li><a href="#">Conditions d'utilisation</a></li>
            <li><a href="#">Politique de confidentialité</a></li>
            <li><a href="#">Aide</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </footer>
{% endblock %}

{% block scripts %}
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script>
        videoElem = document.getElementById("video");
        let startPlayPromise = videoElem.play();

        if (startPlayPromise !== undefined) {
        startPlayPromise
            .then(() => {
            // Start whatever you need to do only after playback
            // has begun.
            })
            .catch((error) => {
            if (error.name === "NotAllowedError") {
            
            } else {
                // Handle a load or playback error
            }
            });
        }

        let hero = document.querySelector(".hero").querySelector(".container");

        function unShowHero(with_timeout = true) {
            hero.style.removeProperty("opacity");
            if (with_timeout) {
                setTimeout(() => {
                    hero.classList.toggle('hidden');
                }, 550);
            } else {
                hero.classList.toggle('hidden');
            }

            setTimeout(() => {
                hero.style.display = "none";
            }, 1550);
        }

        function showHero() {
            hero.style.opacity = 0;
            hero.style.display = "block";
            hero.classList.toggle('hidden');

            setTimeout(() => {
                hero.style.opacity = 1;
            }, 550);
        }

        function ShowingOrUnshowing() {
            if (videoElem.paused) {
                videoElem.play();
                unShowHero();
            } else if (videoElem.played) {
                videoElem.pause();
                showHero();
            }

            if (videoElem.ended) {
                videoElem.currentTime = 0;
                videoElem.play();
                unShowHero();
            }
        }

        function showPlayButton(videoElem) {
            let playButton = document.getElementById("playButton");

            playButton.addEventListener("click", function (event) {
                ShowingOrUnshowing()
            });
        }

    </script>
{% endblock %}
