{% extends "connected/base.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='movies.css') }}" />
{% endblock %}

{% block sidebar %}
    <li class="icon"><a href="#"><img src="/static/assets/logo.png" alt="Genres"></a></li>
    <li class="icon"><a href="#"><img src="/static/assets/logo.png" alt="Tendance"></a></li>
    <li class="icon"><a href="#"><img src="/static/assets/logo.png" alt="Nouveautés"></a></li>
    <li class="icon"><a href="#"><img src="/static/assets/logo.png" alt="Nouveautés"></a></li>
    <li class="icon"><a href="#"><img src="/static/assets/logo.png" alt="Nouveautés"></a></li>
    <li class="icon"><a href="#"><img src="/static/assets/logo.png" alt="Nouveautés"></a></li>
    <li class="icon"><a href="#"><img src="/static/assets/logo.png" alt="Nouveautés"></a></li>
{% endblock %}

{% block insidehtml %}
<div id="movie-previewer">
    <div id="film-info">
        <h2>Titre du film</h2>
        <p>Réalisateur: Nom du réalisateur</p>
        <p>Plot: Description du film</p>
    </div>
    <video id="film-preview" width="50%" height="400" controls>
        <source src="film.mp4" type="video/mp4" />
        Votre navigateur ne prend pas en charge les vidéos HTML5.
    </video>
</div>
{% endblock %}



{% block content %}

    <div class="main">

        <section class="banner" onclick="window.location.href='/movies'">
            <img src="static/assets/img/justice_league_movie_banner_poster_by_arkhamnatic-dbir20a.png" alt="Bannière promotionnelle">
            <div class="banner-content">
                <h2>Film en Vedette</h2>
                <button>Regarder Maintenant</button>
            </div>
        </section>
        
        <h2 class="section-title">Nouveautés</h2>
        <section class="film-grid">
            <div class="film-card">
                <img src="static/assets/img/R.jpg" alt="Affiche du film">
            </div>
            <div class="film-card">
                <img src="static/assets/img/R.jpg" alt="Affiche du film">
            </div>
            <div class="film-card">
                <img src="static/assets/img/R.jpg" alt="Affiche du film">
            </div>
            <div class="film-card">
                <img src="static/assets/img/R.jpg" alt="Affiche du film">
            </div>
            <div class="film-card">
                <img src="static/assets/img/R.jpg" alt="Affiche du film">
            </div>
            <div class="film-card">
                <img src="static/assets/img/R.jpg" alt="Affiche du film">
            </div>
            <div class="film-card">
                <img src="static/assets/img/R.jpg" alt="Affiche du film">
            </div>
            <div class="film-card">
                <img src="static/assets/img/R.jpg" alt="Affiche du film">
            </div>
            <div class="film-card">
                <img src="static/assets/img/R.jpg" alt="Affiche du film">
            </div>
            <div class="film-card">
                <img src="static/assets/img/R.jpg" alt="Affiche du film">
            </div>
            <div class="film-card">
                <img src="static/assets/img/R.jpg" alt="Affiche du film">
            </div>
        </section>

        <h2 class="section-title">Les plus regardés</h2>
        <section class="film-grid">
            <div class="film-card">
                <img src="static/assets/img/R.jpg" alt="Affiche du film">
            </div>
            <div class="film-card">
                <img src="static/assets/img/R.jpg" alt="Affiche du film">
            </div>
            <div class="film-card">
                <img src="static/assets/img/R.jpg" alt="Affiche du film">
            </div>
            <div class="film-card">
                <img src="static/assets/img/R.jpg" alt="Affiche du film">
            </div>
            <div class="film-card">
                <img src="static/assets/img/R.jpg" alt="Affiche du film">
            </div>
            <div class="film-card">
                <img src="static/assets/img/R.jpg" alt="Affiche du film">
            </div>
            <div class="film-card">
                <img src="static/assets/img/R.jpg" alt="Affiche du film">
            </div>
            <div class="film-card">
                <img src="static/assets/img/R.jpg" alt="Affiche du film">
            </div>
            <div class="film-card">
                <img src="static/assets/img/R.jpg" alt="Affiche du film">
            </div>
            <div class="film-card">
                <img src="static/assets/img/R.jpg" alt="Affiche du film">
            </div>
            <div class="film-card">
                <img src="static/assets/img/R.jpg" alt="Affiche du film">
            </div>
            <div class="film-card">
                <img src="static/assets/img/R.jpg" alt="Affiche du film">
            </div>
        </section>
    </div>
{% endblock %}


{% block footer %}
    <footer>
        <ul>
            <li><a href="#">Conditions d'utilisation</a></li>
            <li><a href="#">Politique de confidentialité</a></li>
            <li><a href="#">Aide</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </footer>
{% endblock %}


{% block scripts %}
    <script>
        let films = [
            {
                titre: 'Titre du film 1',
                realisateur: 'Nom du réalisateur 1',
                plot: 'Description du film 1',
                previewSrc: 'film1.mp4'
            },
            {
                titre: 'Titre du film 2',
                realisateur: 'Nom du réalisateur 2',
                plot: 'Description du film 2',
                previewSrc: 'film2.mp4'
            },
            {
                titre: 'Titre du film 1',
                realisateur: 'Nom du réalisateur 1',
                plot: 'Description du film 1',
                previewSrc: 'film1.mp4'
            },
            {
                titre: 'Titre du film 2',
                realisateur: 'Nom du réalisateur 2',
                plot: 'Description du film 2',
                previewSrc: 'film2.mp4'
            },
            {
                titre: 'Titre du film 1',
                realisateur: 'Nom du réalisateur 1',
                plot: 'Description du film 1',
                previewSrc: 'film1.mp4'
            },
            {
                titre: 'Titre du film 2',
                realisateur: 'Nom du réalisateur 2',
                plot: 'Description du film 2',
                previewSrc: 'film2.mp4'
            },
            {
                titre: 'Titre du film 1',
                realisateur: 'Nom du réalisateur 1',
                plot: 'Description du film 1',
                previewSrc: 'film1.mp4'
            },
            {
                titre: 'Titre du film 2',
                realisateur: 'Nom du réalisateur 2',
                plot: 'Description du film 2',
                previewSrc: 'film2.mp4'
            },
            {
                titre: 'Titre du film 1',
                realisateur: 'Nom du réalisateur 1',
                plot: 'Description du film 1',
                previewSrc: 'film1.mp4'
            },
            {
                titre: 'Titre du film 2',
                realisateur: 'Nom du réalisateur 2',
                plot: 'Description du film 2',
                previewSrc: 'film2.mp4'
            },
            {
                titre: 'Titre du film 1',
                realisateur: 'Nom du réalisateur 1',
                plot: 'Description du film 1',
                previewSrc: 'film1.mp4'
            },
            {
                titre: 'Titre du film 2',
                realisateur: 'Nom du réalisateur 2',
                plot: 'Description du film 2',
                previewSrc: 'film2.mp4'
            },
        ];

        let MoviePreviewer = document.getElementById('movie-previewer');
        let filmCards = document.querySelectorAll('.film-card');
        let filmPreview = document.getElementById('film-preview');
        let filmInfo = document.getElementById('film-info');

        filmCards.forEach(function(filmCard, index) {
            let film = films[index];

            filmCard.addEventListener('mouseover', function() {
                // Mettre à jour l'aperçu du film
                filmPreview.src = film.previewSrc;
                MoviePreviewer.classList.add('active');


                // Mettre à jour les informations du film
                filmInfo.innerHTML = `
                    <h2>${film.titre}</h2>
                    <p>Réalisateur: ${film.realisateur}</p>
                    <p>Plot: ${film.plot}</p>
                `;
            });

            MoviePreviewer.addEventListener('mouseover', function() {
                MoviePreviewer.classList.add('active');
            });

            MoviePreviewer.addEventListener('mouseout', function() {
                MoviePreviewer.classList.remove('active');
            });

            filmCard.addEventListener('mouseout', function() {
                MoviePreviewer.classList.remove('active');
            });
        });



        let filmGrids = document.querySelectorAll('.film-grid');
        let isDragging = false;
        let startPositionX = 0;
        let scrollLeft = 0;

        filmGrids.forEach(function(filmGrid, index) {
            filmGrid.addEventListener('mousedown', (e) => {
                isDragging = true;
                startPositionX = e.clientX - filmGrid.offsetLeft;
                scrollLeft = filmGrid.scrollLeft;
            });

            filmGrid.addEventListener('mouseup', () => {
                isDragging = false;
            });

            filmGrid.addEventListener('mousemove', (e) => {
                if (!isDragging) return;
                e.preventDefault();
                const x = e.clientX - filmGrid.offsetLeft;
                const walk = (x - startPositionX); // Contrôle de la vitesse de défilement
                filmGrid.scrollLeft = scrollLeft - walk;
            });
        });
        
    </script>
{% endblock %}
