{% extends "base.html" %}

{% block content %}
    <h1 class="title">Les projets de l'Exacorp</h1>

    <div class="projets">
        <div class="projets-item">
            <h1>ezogrgierhgihreg</h1>
            <p>zfo re hrtiogrgnie rogzf orehrti ozfo re hrtiogrgnie rogzf orehrti zfo re hrtiogrgnie rogzf orehrti zfo re hrtiogrgnie rogzf orehrti zfo re hrtiogrgnie rogzf orehrtie</p>
        </div>
        <div class="projets-item">
            <h1>ezogrgierhgihreg</h1>
            <p>zfo re hrtiogrgnie rogzf orehrti ozfo re hrtiogrgnie rogzf orehrti zfo re hrtiogrgnie rogzf orehrti zfo re hrtiogrgnie rogzf orehrti zfo re hrtiogrgnie rogzf orehrti </p>
        </div>
        <div class="projets-item">
            <h1>ezogrgierhgihreg</h1>
            <p>zfo re hrtiogrgnie rogzf orehrti ozfo re hrtiogrgnie rogzf orehrti zfo re hrtiogrgnie rogzf orehrti zfo re hrtiogrgnie rogzf orehrti zfo re hrtiogrgnie rogzf orehrti </p>
        </div>
        <div class="projets-item">
            <h1>ezogrgierhgihreg</h1>
            <p>zfo re hrtiogrgnie rogzf orehrti ozfo re hrtiogrgnie rogzf orehrti zfo re hrtiogrgnie rogzf orehrti zfo re hrtiogrgnie rogzf orehrti zfo re hrtiogrgnie rogzf orehrti </p>
        </div>
    </div>

    Magasin de disques CD et vinyles : on peut commander sa playlist ou autre et Exaload grave le CD/vinyle
    Configurer un PC sur le site et ajouter une option pour que quelqu'un (un expert) viennt agencé le bureau et monter le pc (voir avec Adrien)

{% endblock %}