<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }} | Exaload</title>
    <link rel="icon" type="image/png" href="/static/assets/logo.png" />
    <link rel="stylesheet" href="/static/css/not connected/base.css">
    <link rel="stylesheet" href="/static/css/index.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/{{ stylesheet }}.css">

    {% if request.cookies.get('page_theme') == 'dark' %}
        <link rel="stylesheet" href="static/css/colors_vars_dark.css">
    {% else %}
        <link rel="stylesheet" href="static/css/colors_vars_light.css">

    {% endif %}
</head>

<body>
    <section id="nav">
        <div class="nav-logocontainer" onclick="window.location.href='/'">
            <img src="/static/assets/logo.png" alt="Exaload logo" id="exaloadlogo">
            <a class="nav-logo-text no-border no-border-hover">Exaload</a>
        </div>

        <div class="main-links">
            <a href="/" class="main-link {{ 'active' if request.path == '/' }}">Accueil</a>
            <a href="/forums" class="main-link {{ 'active' if request.path == '/forums' }}">Forums</a>
            <a href="/faq" class="main-link {{ 'active' if request.path == '/faq' }}">FAQ</a>
            <a href="/exacoins" class="main-link {{ 'active' if request.path == '/exacoins' }}">Exacoins</a>
            <a href="/pricing" class="main-link {{ 'active' if request.path == '/pricing' }}">Abonnements</a>
        </div>

        <div class="user-links">
            {% if request.path == '/login' %}
                <a href="/register" class="main-button">Inscription</a>
            {% elif request.path == '/register' %}
                <a href="/login" class="main-button">Connexion</a>
            {% else %}
                {% if request.cookies.get('user_id') %}
                    <a href="/dashboard" class="main-button">Dashboard</a>
                    <a href="/creators" class="secondary-button">Créateurs</a>
                {% else %}
                    <a href="/login" class="main-button">Connexion</a>
                    <a href="/register" class="secondary-button">Inscription</a>
                {% endif %}
            {% endif %}
        </div>
    </section>

    
    <section id="page-content">
        {% block content %}
        {% endblock %}
    </section>

</body>
</html>