{% extends "not-connected/base.html" %}

{% block content %}

<section id="login-form">
    <div class="container">
        <div class="title">
            <img src="/static/assets/logo.png" alt="logo">
            <h1>Connexion</h1>
        </div>
        <form method="POST" action="/login">
            <div class="field">
                <input type="text" name="" required placeholder="Entrez votre adresse mail ou nom d'utilisateur">
                <label>Adresse mail ou nom d'utilisateur</label>
            </div>
            <div class="field">
                <input type="password" class="has-sub-text" name="" required placeholder="Entrez votre mot de passe">
                <label>Mot de passe</label>
                <a class="sub-text link">Mot de passe oublié ?</a>
            </div>
            <div class="field is-checkbox">
                <label class="checkbox">
                    <input type="checkbox" checked="checked">
                    <span class="checkmark"></span>
                    Rester connecté
                </label>
            </div>
            <input class="submit-button" type="submit" value="Connexion">
        </form>
    </div>
</section>

{% endblock %}