{% extends "not-connected/base.html" %}

{% block content %}

<section class="explications">
    <h2>Pourquoi des prix "si élevés" par rapport à d'autres services ?</h2>
    <p>
        Tout d'abord, nous essayions de vous faire les prix les plus bas possibles.
        Nos prix peuvent vous paraître plus élevés que chez d'autres services de
        streaming car nous vous fournissons une "offre tout en un" par défaut
        (présentée sur le tableau ci-dessous).
    </p>
    
    <p>
        Il vous suffit de calculer :
        un abonnement de streaming musical coûte en moyenne dans les 12€/mois, ceux
        de films et séries dans les 15€, ceux de jeux en moyenne 25€, etc... Bref,
        vous arrivez avec un total de parfois de plus de 50€/mois. Regardez par
        vous-mêmes dans le tableau ci-dessous, notre abonnement le plus cher n'atteint
        même pas les 50€/mois et offre encore plus de fonctionnalités qu'autre part !
    </p>
    
    <p>
        Chez Exaload, nous vous permettons d'obtenir les mêmes services (en mieux 😎)
        pour moitié prix de ce que vous payez en total habituellement.
    <p>
        Et en plus, on intègre un système de cashback, une partie de l'argent que vous
        dépensez vous reviens directement, qu'est-ce qu'il vous faut de plus ?
    </p>

    <p>
        Pour finir, comme si on en faisait pas déjà assez, vous pouvez vous créer votre
        propre abonnement adapté à vos besoins et envies via notre configurateur en
        cliquant sur le bouton ci-dessous [bouton pas encore disponible]
    </p>
</section>

<section class="pricing-table table-center">
    <table>
        <tr>
            <th class="no-bg"></th>
            <th><span>Gratuit</span></th>
            <th><span>Kilo</span></th>
            <th><span>Méga</span></th>
            <th><span>Giga</span></th>
            <th><span class="best">Téra<span class="oriented-text">Meilleur choix !</span></span></th>
            <th><span>Péta</span></th>
            <th><span>Exa</span></th>
        </tr>



        <tr>
            <td>Prix par mois</td>
            <td>0€</td>
            <td>4.99€</td>
            <td>9.99€</td>
            <td>14.99€</td>
            <td class="best-bg">19.99€</td>
            <td>24.99€</td>
            <td>29.99€</td>
        </tr>

        <tr>
            <td>12 mois au prix de 10<sup class="little grey">1</sup></td>
            <td class="annotation">x</td>
            <td class="annotation">x</td>
            <td>99.99€</td>
            <td>149.99€</td>
            <td class="best-bg">199.99€</td>
            <td>249.99€</td>
            <td>299.99€</td>
        </tr>

        <tr>
            <td>Exacoins par mois<sup class="little grey">2</sup></td>
            <td class="annotation">x</td>
            <td>100</td>
            <td>200</td>
            <td>300</td>
            <td class="best-bg">400</td>
            <td>600</td>
            <td>800</td>
        </tr>

        <tr>
            <td>Exacoins par pub vue<sup class="little grey">3</sup></td>
            <td>x1</td>
            <td>x1.1</td>
            <td>x1.2</td>
            <td>x1.5</td>
            <td class="best-bg">x2</td>
            <td>x2.5</td>
            <td>x3</td>
        </tr>

        <tr>
            <td class="part-title">Musiques</td>
        </tr>

        <tr>
            <td>Pas de pubs</td>
            <td class="annotation">x</td>
            <td class="annotation">x</td>
            <td class="annotation">x</td>
            <td class="annotation">✔</td>
            <td class="annotation best-bg">✔</td>
            <td class="annotation">✔</td>
            <td class="annotation">✔</td>
        </tr>

        <tr>
            <td>Mode hors connexion</td>
            <td class="annotation">x</td>
            <td class="annotation">x</td>
            <td class="annotation">x</td>
            <td class="annotation">✔</td>
            <td class="annotation best-bg">✔</td>
            <td class="annotation">✔</td>
            <td class="annotation">✔</td>
        </tr>

        <tr>
            <td>Qualité d'écoute<sup class="little grey">4</sup></td>
            <td>128kbps</td>
            <td>192kbps</td>
            <td>256kbps</td>
            <td>320kbps</td>
            <td class="best-bg">1411kbps</td>
            <td>1411kbps</td>
            <td>1411kbps</td>
        </tr>

        <tr>
            <td>Organisation par IA<sup class="little grey">5</sup></td>
            <td class="annotation">x</td>
            <td class="annotation">x</td>
            <td class="annotation">x</td>
            <td class="annotation">x</td>
            <td class="annotation best-bg">✔</td>
            <td class="annotation">✔</td>
            <td class="annotation">✔</td>
        </tr>


        <tr>
            <td class="part-title">Films et séries</td>
        </tr>
        
        <tr>
            <td>Pas de pub</td>
            <td class="annotation">x</td>
            <td class="annotation">x</td>
            <td class="annotation">x</td>
            <td class="annotation">x</td>
            <td class="annotation best-bg">✔</td>
            <td class="annotation">✔</td>
            <td class="annotation">✔</td>
        </tr>
        
        <tr>
            <td>Mode hors connexion</td>
            <td class="annotation">x</td>
            <td class="annotation">x</td>
            <td class="annotation">x</td>
            <td class="annotation">✔</td>
            <td class="annotation best-bg">✔</td>
            <td class="annotation">✔</td>
            <td class="annotation">✔</td>
        </tr>

        <tr>
            <td>Qualité de l'image<sup class="little grey">4</sup></td>
            <td>720p</td>
            <td>1080p</td>
            <td>1080p</td>
            <td>1440p</td>
            <td class="best-bg">4K</td>
            <td>8K</td>
            <td>8K</td>
        </tr>


        
        <tr>
            <td class="part-title">Jeux Vidéos</td>
        </tr>

        <tr>
            <td>Succès récompensés en Exacoins<sup class="little grey">6</sup></td>
            <td class="annotation">x</td>
            <td class="annotation">x</td>
            <td class="annotation">x</td>
            <td class="annotation">✔</td>
            <td class="annotation best-bg">✔</td>
            <td class="annotation">✔</td>
            <td class="annotation">✔</td>
        </tr>
        
        <tr>
            <td>Mode "sans ordi" (8h/mois)</td>
            <td class="annotation">x</td>
            <td class="annotation">x</td>
            <td class="annotation">x</td>
            <td class="annotation">x</td>
            <td class="annotation best-bg">✔</td>
            <td class="annotation">✔</td>
            <td class="annotation">✔</td>
        </tr>
        
        <tr>
            <td>Jeux louables gratuitement</td>
            <td>0/mois</td>
            <td>0/mois</td>
            <td>0/mois</td>
            <td>1/mois</td>
            <td class="best-bg">2/mois</td>
            <td>2/mois</td>
            <td>3/mois</td>
        </tr>
    </table>
</section>

<div class="help">
    <p>1. Pour un abonnement de 12 mois, les 2 mois supplémentaires sont offerts (si compris dans l'abonnement). Offre valable à chaque renouvellement</p>
    <p>2. Les Exacoins sont une monnaie virtuelle utilisée pour acheter des produits sur Exaload, comme des films, des épisodes de séries, des albums de musique, des applications...Ils sont offerts en fonction de l'abonnement choisi ou peuvent être<br />achetés et gagnés (concours, succès...) sur le site.</p>
    <p>3. Multiplie les Exacoins que vous obtenez en regardant des publicités.</p>
    <p>4. La qualité d'écoute et de l'image précisée est la qualité maximale disponible avec l'abonnement. La qualité peut être réduite pour économiser de la bande passante et conserver une image fluide.</p>
    <p>5. L'organisation par IA est une fonctionnalité vous permettant de trier automatiquement les musiques d'une playlist en fonction d'un critère choisi (enchainement, goûts...).</p>
    <p>6. Certains succès sur certains jeux peuvent vous rapporter des Exacoins</p>
    <p>Plus d'informations sur les abonnements et les détails de chaque option <a href="/pricing/about" class="link">ici</a>.</p>
</div>

{% endblock %}