{% extends "not-connected/base-login.html" %}

{% block form %}
    <div class="title">
        <img src="/static/assets/logo.png" alt="logo">
        <h1>Inscription</h1>
    </div>
    <form method="POST" action="/register">
        <div class="field">
            <input type="text" name="email" required placeholder="Entrez votre adresse mail">
            <label>Adresse mail</label>
        </div>
        <div class="field">
            <input type="text" name="name" required placeholder="Entrez votre nom d'utilisateur">
            <label>Nom d'utilisateur</label>
        </div>
        <div class="field">
            <input type="password" class="has-sub-text" name="password" required placeholder="Entrez votre mot de passe">
            <label>Mot de passe</label>
        </div>
        <div class="field is-checkbox">
            <label class="checkbox">
                <input type="checkbox" checked="checked">
                <span class="checkmark"></span>
                Rester connecté
            </label>
        </div>
        <input class="submit-button" type="submit" value="Connexion">
        <a href="/register" class="link">Pas encore de compte ? Inscrivez-vous</a>
    </form>
{% endblock %}