.hero {
    background-size: cover;
    background-position: center;
    min-height: 750px;
    height: 70vh;
    max-height: 1000px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-block: var(--section-padding);
}


/* Set the .hero video as the background of the .hero div */
.hero .video-container video {
    position: absolute;
    top: 4%;
    left: 60px;
    width: 97%;
    /* height: 100%; */
    object-fit: revert;
    z-index: -1;
}

.hero .container {
    width: 100%;
    max-width: 100%;
    margin-inline: auto;
    padding-inline: var(--section-padding);
    transition: opacity 0.5s ease-in-out;
    display: block;
}

.hero .fade-in-out {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}
  
.hero .fade-in-out.hidden {
    opacity: 0;
}
  

.hero .video-container .playButton {
    position: absolute;
    top: 40vh;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    display: flex;
    z-index: 10;
}

.hero .video-container .playButton ion-icon {
    font-size: 50px;
    color: var(--white);
    top: 50%;
    left: 50%;
}

/* Mask the hero-content and the playButton when the video is not hovered */

.hero:hover .video-container .playButton {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
}

.hero .video-container .playButton {
    opacity: 0;
}

.hero .video-container:hover .playButton {
    transform: translate(-50%, -50%) scale(1.2);
}




.hero-content {
	backdrop-filter: blur(10px);
	background-color: rgba(0, 0, 0, 0.5);
	padding: 30px;
	border-radius: 10px;
	max-width: 400px;
	width: 100%;
}

.hero-subtitle {
    color: var(--main-color);
    font-size: var(--fs-4);
    font-weight: var(--fw-700);
    margin-bottom: 10px;
}

.hero-title {
    margin-bottom: 30px;
}

.hero-title>strong {
    color: var(--main-color);
}

.section-subtitle {
    color: var(--main-color);
    font-size: var(--fs-11);
    font-weight: var(--fw-500);
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
    text-align: center;
}

.content .h1,
.content .h2,
.content .h3 {
    color: var(--white);
    line-height: 1.2;
}

.content .h1 {
    font-size: var(--fs-1);
}

.movie-infos-section {
    display: flex;
    justify-content: center;
}

.movie-infos-div {
	margin-top: 40px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
    max-width: 80%;
}

.movie-infos-div video {
	border-radius: 10px;
	max-width: 100%;
	width: 100%;
	height: auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);

}

.movie-infos-div .movie-infos {
	margin-left: 20px;
	max-width: 80%;
	width: 100%;
	height: auto;
	margin-top: 20px;
	display: flex;
    backdrop-filter: blur(10px);
    background-color: rgba(118, 118, 118, 0.371);
    border-radius: 10px;
}

.movie-infos-div .movie-infos > * {
    padding: 20px;
}

.movie-infos-div .movie-infos .movie-plot .synopsis {
    color: var(--white);
    font-size: var(--fs-7);
    line-height: 1.5;
    text-align: justify;
}

.movie-infos-div .movie-infos .movie-plot .distribution {
    color: var(--white);
    font-size: var(--fs-7);
    line-height: 1.5;
    text-align: justify;
    margin-top: 20px;
    display: flex;
}

.movie-infos-div .movie-infos .movie-plot .distribution > * {
    padding: 0 20px;
}

.movie-infos-div .movie-infos .movie-plot .distribution .actors {
    max-width: 70%;
}

.movie-infos-div .movie-infos .movie-plot .distribution .distributors {
    width: 30%
}

.movie-infos-div .movie-infos .movie-plot .distribution .distributors > .item {
    margin-top: 20px;
}

.movie-infos-div .movie-infos .movie-plot .distribution .distributors > .item:first-child {
    margin-top: 0;
}

.movie-infos-div .movie-infos .movie-plot .distribution .distributors h3,
.movie-infos-div .movie-infos .movie-plot .distribution .actors h3 {
    color: var(--white);
    font-size: var(--fs-5);
    line-height: 1.5;
    text-align: justify;
    border-bottom: 1px solid var(--white);
}

.movie-infos-div .movie-infos .movie-plot .distribution .distributors ul,
.movie-infos-div .movie-infos .movie-plot .distribution .actors ul {
    color: var(--white);
    font-size: var(--fs-7);
    line-height: 1.5;
    text-align: justify;
    list-style: none;
}

.movie-infos-div .movie-infos .movie-plot .distribution .actors .actors-profiles {
    display: flex;
    max-width: 100%;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
}

.movie-infos-div .movie-infos .movie-plot .distribution .actors .actors-profiles > .actor-profil {
    display: flex;
    align-items: center;
    margin: 10px 0 10px 0;
    flex: auto;
    width: 50%;
    max-width: 50%;
}

.movie-infos-div .movie-infos .movie-plot .distribution .actors .actors-profiles .actor-profil:last-child {
    margin-right: 0;
}

.movie-infos-div .movie-infos .movie-plot .distribution .actors .actors-profiles .actor-profil p {
    color: var(--white);
    font-size: var(--fs-7);
    line-height: 1.5;
    text-align: justify;
    margin-bottom: 0;
}


.movie-infos-div .movie-infos .movie-plot .distribution .actors .actors-profiles .actor-profil img {
    border-radius: 10px;
    height: 70px;
    width: 70px;
    object-fit: cover;
    margin-right: 10px;
}

.movie-infos-div .movie-infos .affiche img {
	border-radius: 10px;
	height: 300px;
}

.movie-infos-div .movie-infos .affiche .movie-infos-mains {
	margin-left: 20px;
}

.movie-infos-div .movie-infos .affiche .movie-infos-mains p {
	color: var(--white);
	font-size: var(--fs-7);
	margin-bottom: 10px;
}


@media (min-width: 550px) {
    .hero {
        min-height: unset;
    }

    .container {
        max-width: 540px;
        margin-inline: auto;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .hero {
        background-position: right;
    }

    .hero .container {
        width: 950px;
    }

    .hero-content {
        max-width: 600px;
    }
	
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .hero .container {
        width: 1920px;
    }
	
    .container {
        max-width: 1920px;
    }
}


